/* LOCAL FONTS */

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 500 700 800;
    font-style: normal;
}

/* CSS VARIABLES */

:root {

    /* Typography */

    --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

    --fs-h1: 2.400rem;
    --fs-h2: 2.000rem;
    --fs-h3: 1.800rem;
    --fs-desc: 1.600rem;
    --fs-result-marks: 5.600rem;

    --fw-h1: 700;
    --fw-h2: 700;
    --fw-h3: 700;
    --fw-desc: 500;
    --fw-result-marks: 800;

    --lineHeight-h1: 0.800;
    --lineHeight-h2: 1.050;
    --lineHeight-result-marks: 0.720;
    --lineHeight-result-totalMarks: 0.720;

    /* colors */

    --color-white: hsl(0, 0%, 100%);
    --color-pale-blue: hsl(221, 100%, 96%);
    --color-light-lavender: hsl(241, 100%, 89%);
    --color-light-lavender-alpha: hsla(241, 100%, 89%, 0.5);
    --color-dark-gray-blue: hsl(224, 30%, 27%);
    --color-dark-gray-blue-alpha: hsla(224, 30%, 27%, 0.5);

    --bgColor-results-section-top: hsl(252, 100%, 67%);
    --bgColor-results-section-bottom: hsl(241, 81%, 54%);
    --bgColor-results-marks-top: hsla(256, 72%, 46%, 1);
    --bgColor-results-marks-bottom: hsla(241, 72%, 46%, 0);

    --bgColor-category-reaction: hsla(0, 100%, 67%, 0.05);
    --bgColor-category-memory: hsla(39, 100%, 56%, 0.05);
    --bgColor-category-verbal: hsla(166, 100%, 37%, 0.05);
    --bgColor-category-visual: hsla(234, 85%, 45%, 0.05);
    
    --bgColor-hover: var(--bgColor-results-section-bottom);

    --textColor-category-reaction: hsl(0, 100%, 67%);
    --textColor-category-memory: hsl(39, 100%, 56%);
    --textColor-category-verbal: hsl(166, 100%, 37%);
    --textColor-category-visual: hsl(234, 85%, 45%);

    /* Lengths */

    --width-results-circle: 14.000rem;
    --height-results-circle: 14.000rem;

    --height-summary-category: 5.600rem;
    --height-summary-button: 5.600rem;

    --maxWidth-card-container: 100%;
    --maxWidth-card: 37.500rem;
    --maxWidth-results-section: 100%;
    --maxWidth-summary-section: 100%;

    /* Utilities */

    /* Gapping */

    --gap-results: 2.400rem;
    --gap-results-marks: 2.000rem;
    --gap-results-text: 1.400rem;

    --gap-summary: 2.400rem;
    --gap-summary-categories: 1.600rem;

    /* Padding */

    --pd-results-top: 2.600rem;
    --pd-results-left: 6.000rem;
    --pd-results-right: 6.000rem;
    --pd-results-bottom: 4.000rem;

    --pd-results-marks-top: 4.200rem;
    --pd-results-marks-bottom: 2.600rem;

    --pd-summary-top: 2.600rem;
    --pd-summary-left: 3.000rem;
    --pd-summary-right: 3.000rem;
    --pd-summary-bottom: 3.000rem;
    --pd-summary-category-inline: 1.600rem;

    /* Margin */

    --mg-top-results-text: 0.600rem;

    /* Radius */

    --radius-card: 0;
    --radius-results: 0 0 3.000rem 3.000rem;
    --radius-results-circle: 50%;
    --radius-summary-category: 1.000rem;
    --radius-summary-button: 5.000rem;

}


/* RESET DEFAULT STYLES */

html {
    font-size: 10px;
    font-family: var(--ff-hanken-grotesk);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: var(--color-dark-gray-blue);
    background-color: var(--color-white);
}

*, 
*::before, 
*::after,
button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: normal;
    box-sizing: border-box;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
    line-height: var(--lineHeight-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
    line-height: var(--lineHeight-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
}

p {
    font-size: var(--fs-desc);
    font-weight: var(--fw-desc);
}

li {
    list-style: none;
}

/* REUSABLES STYLES */

.card__container {
    max-width: var(--maxWidth-card-container);
    display: grid;
    justify-content: center;
    margin-inline: auto;
    background-color: var(--color-white);
}

.section__title {
    height: max-content;
}

.category__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--pd-summary-category-inline);
    border-radius: var(--radius-summary-category);
    height: var(--height-summary-category);
}

.category {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* MAIN SECTION */

.card {
    max-width: var(--maxWidth-card);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-card);
    background-color: var(--color-white);
    box-shadow: 2px 2px 50px var(--color-light-lavender-alpha);
    overflow: hidden;
}


/* RESULTS SECTION */

.card__results {
    display: grid;
    justify-items: center;
    gap: var(--gap-results);
    text-align: center;
    max-width: var(--maxWidth-results-section);
    padding-block: var(--pd-results-top) var(--pd-results-bottom);
    padding-inline: var(--pd-results-left) var(--pd-results-right);
    border-radius: var(--radius-results);
    background: 
        linear-gradient(
            to bottom, 
            var(--bgColor-results-section-top), 
            var(--bgColor-results-section-bottom)
        )
    ;
}

.card__results .section__title {
    color: var(--color-light-lavender);
}

.result__marks_wrapper {
    width: var(--width-results-circle);
    height: var(--height-results-circle);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-results-marks);
    color: var(--color-light-lavender-alpha);
    border-radius: var(--radius-results-circle);
    padding-block: 
        var(--pd-results-marks-top)
        var(--pd-results-marks-bottom)
    ;
    background: 
        linear-gradient(
            to bottom,
            var(--bgColor-results-marks-top),
            var(--bgColor-results-marks-bottom)
        )
    ;
}

.result__marks {
    display: inline-block;
    font-size: var(--fs-result-marks);
    font-weight: var(--fw-result-marks);
    line-height: var(--lineHeight-result-marks);
    color: var(--color-white);
}

.result__marks_wrapper .total__marks {
    line-height: var(--lineHeight-result-totalMarks);
}

.text__content_wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-results-text);
    margin-block-start: var(--mg-top-results-text);
}

.expression {
    color: var(--color-white);
}

.card__desc {
    color: var(--color-light-lavender);
}


/* SUMMARY SECTION */

.card__summary {
    display: flex;
    flex-direction: column;
    gap: var(--gap-summary);
    padding-block: var(--pd-summary-top) var(--pd-summary-bottom);
    padding-inline: var(--pd-summary-left) var(--pd-summary-right);
    max-width: var(--maxWidth-summary-section);
}

.categories__wrapper {
    display: grid;
    gap: var(--gap-summary-categories);
}

.category__reaction {
    background-color: var(--bgColor-category-reaction);
}

.category__memory {
    background-color: var(--bgColor-category-memory);
}

.category__verbal {
    background-color: var(--bgColor-category-verbal);
}

.category__visual {
    background-color: var(--bgColor-category-visual);
}

.reaction {
    color: var(--textColor-category-reaction);
}

.memory {
    color: var(--textColor-category-memory);
}

.verbal {
    color: var(--textColor-category-verbal);
}

.visual {
    color: var(--textColor-category-visual);
}

.category__marks {
    font-weight: var(--fw-h3);
    color: var(--color-dark-gray-blue-alpha);
}

.obtained__marks {
    font-weight: var(--fw-h3);
    color: var(--color-dark-gray-blue);
}

.button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-summary-button);
    color: var(--color-white);
    height: var(--height-summary-button);
    background-color: var(--color-dark-gray-blue);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.button:is(:hover, :focus-visible) {
    background-color: var(--bgColor-hover);
}


/* FOOTER SECTION */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin-block-start: 5.000rem;
    color: var(--color-dark-gray-blue-alpha);
    background-color: var(--color-pale-blue);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

/* MEDIA QUERIES */

/* SCREEN SIZE : 768PX */

@media screen and (min-width: 768px) {
    
    :root {

        /* Typography */

        --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;

        --fs-h1: 3.400rem;
        --fs-h2: 2.200rem;
        --fs-desc: 1.800rem;
        --fs-result-marks: 7.000rem;

        --lineHeight-h2: 1.250;
        --lineHeight-result-marks: 0.740;
        --lineHeight-result-totalMarks: 0.850;

        /* Lengths */

        --width-results-circle: 20.000rem;
        --height-results-circle: 20.000rem;
        --maxHeight-results-section: 51.200rem;
        --maxHeight-summary-section: 51.200rem;

        --maxWidth-card-container: 144.000rem;
        --maxWidth-card: 73.600rem;
        --maxWidth-results-section: 36.800rem;
        --maxWidth-summary-section: 36.800rem;


        /* Utilities */

        /* Gapping */

        --gap-results: 3.500rem;
        --gap-results-marks: 1.800rem;
        --gap-results-text: 2.500rem;

        --gap-summary: 3.000rem;
        --gap-summary-categories: 1.600rem;
        
        /* Padding */
        
        --pd-results-top: 4.000rem;
        --pd-results-bottom: 5.000rem;

        --pd-results-marks-top: 6.500rem;
        --pd-results-marks-bottom: 5.000rem;
        
        --pd-summary-top: 4.000rem;
        --pd-summary-left: 4.000rem;
        --pd-summary-right: 4.000rem;
        --pd-summary-bottom: 4.600rem;

        /* Margins */

        --mg-top-results-text: 0.000rem;
        --mg-top-summary-buttom: 4.000rem;

        /* Radius */

        --radius-card: 3.000rem;
        --radius-results: 3.000rem;

    }
    
    /* REUSABLE STYLES */
    
    .card__container {
        height: 100%;
        align-items: center;
    }

    .card {
        flex-direction: row;
    }

    .card__results {
        width: var(--maxWidth-results-section);
        height: var(--maxHeight-results-section);
    }

    .card__summary {
        width: var(--maxWidth-summary-section);
        height: var(--maxHeight-summary-section);
    }

    .button {
        margin-block-start: 1.000rem;
    }

    .footer {
        flex-direction: row;
    }

}